.wrapper {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1000;
  position: absolute;
}

.loading {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  padding-left: 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
