.photo:nth-child(2) {
  grid-row: span 2;
  grid-column: 2 / 4;
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-row: initial;
    grid-column: initial;
  }
}

.photo {
  display: grid;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.2rem;
}

.photo > div {
  grid-area: 1/1;
}

.visualizacao {
  display: none;
  color: white;
  grid-area: 1/1;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.visualizacao::before {
  content: '';
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
}

.photo:hover .visualizacao {
  display: flex;
}
