.feed {
  gap: 1rem;
  display: grid;
  margin-bottom: 1rem;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 40rem) {
  .feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
