.photoPost {
  gap: 2rem;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 40rem) {
  .photoPost {
    grid-template-columns: 1fr;
  }
}

.file {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  height: 0px;
  content: '';
  display: block;
  padding-bottom: 100%;
}
