.graph {
  gap: 2rem;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr;
}

.graphItem {
  display: grid;
  align-items: center;
  border-radius: 0.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.total {
  padding: 2rem;
  font-size: 2rem;
  grid-column: 1/3;
}

@media (max-width: 40rem) {
  .graph {
    grid-template-columns: 1fr;
  }

  .total {
    grid-column: 1;
  }
}
