.photo {
  opacity: 0;
  margin: auto;
  display: grid;
  height: 36rem;
  overflow: hidden;
  background: white;
  border-radius: 0.2rem;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 36rem 20rem;
}

.single.photo {
  height: auto;
  grid-template-columns: 1fr;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
}

.single .details {
  padding: 1rem 0px 0px 0px;
}

.img {
  grid-row: 1 / 4;
}

.single .img {
  grid-row: 1;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media (max-width: 64rem) {
  .photo {
    height: auto;
    overflow-y: auto;
    max-height: calc(100vh - 4rem);
    grid-template-columns: minmax(20rem, 40rem);
  }

  .img {
    grid-row: 1;
  }
}

.author {
  opacity: 0.5;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.author a:hover {
  text-decoration: underline;
}

.visualizacoes::before {
  content: '';
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  background: url('../../Assets/visualizacao-black.svg');
}

.attributes {
  display: flex;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  top: 3px;
  width: 2px;
  content: '';
  height: 20px;
  margin-top: 5px;
  background: #333;
  position: relative;
  margin-right: 0.5rem;
  display: inline-block;
}
