.form {
  display: grid;
  margin: 1rem;
  align-items: stretch;
  grid-template-columns: 1fr auto;
}

.single.form {
  margin: 1rem 0;
}

.textarea {
  width: 100%;
  resize: none;
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  transition: 0.2s;
  background: #eee;
  border-radius: 0.2rem;
  border: 1px solid #eee;
  font-family: var(--type-first);
}

.textarea:focus,
.textarea:hover {
  outline: none;
  background: white;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
}

.button {
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
  background-color: transparent;
}

.button:focus,
.button:hover {
  outline: none;
}

.button:focus svg path,
.button:hover svg path {
  fill: #fea;
  stroke: #fb1;
}

.button:focus svg g,
.button:hover svg g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
